.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 50%;
}

.emoji-box {
  border: 2px solid yellowgreen;
  padding: 1rem;
  width: 50%;
  margin: auto;
  border-radius: 2rem;
}
